template(name="front")
    
    h1.ui.center.aligned.brown.header(style="font-size:5em;margin-top:2em;margin-bottom:0.5em")
        | Xelco Stock Exchange
        .sub.header
            | Bot Test Simulation
            
           
    .ui.info.center.aligned.message(style="text-align:center")